.diaActual {
    background-color: #80d8ff;
}

.weatherCard {
    width: 200px;
}

.homeContent {
    height: 600px;
}

img, embed, object, video {
    max-width:100%;
    height:auto;
}

.imgCenter {
    width:100%;
    text-align:center;
}

a {
    color: red;
    text-decoration: none;
}

body > header {
    float: right;
    display: none;
}

.monthName {
    background-color: blue;
    color: white;
    width: 175px;
    text-align: center;
}

.calendarMonth {
    width: 175px;
    margin: 10px;
}

.calendarDay {
    width: 25px;
    text-align: center;
}
