<!DOCTYPE html>
<html>
<head>
<title>Angular Examples</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css" />
<link rel="stylesheet" href="css/main.css" />

</head>

<body ng-app="WeatherApp">
<header>
    <h4>Angular Examples</h4>
</header>
<section layout="row" flex ng-controller="appCtrl">
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
	<md-toolbar flex>
        <h1 class="md-toolbar-tools"><a href="#/" ng-click="ocultaMenu()"/>Angular Examples</a></h1>
        <md-divider></md-divider>
        <h1 class="md-toolbar-tools md-primary md-raised"><a href="#/weather" ng-click="ocultaMenu()">Weather App</a></h1>
        <md-divider></md-divider>
        <h1 class="md-toolbar-tools md-primary md-raised"><a href="#/calendar" ng-click="ocultaMenu()">Calendar App</a></h1>
      </md-toolbar>
</md-sidenav>
<md-content flex layout-padding>
    <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="muestraMenu()">
        <md-icon md-svg-icon="img/icons/ic_menu.svg"></md-icon>
      </md-button>
<div ng-view flex></div>
</md-content>
</section>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/i18n/angular-locale_es-es.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<!-- modules -->
<script src="js/app.js"></script>

<!-- controllers -->
<script src="js/controllers/WeatherController.js"></script>
<script src="js/controllers/CalendarController.js"></script>

<!-- directives -->
<script src="js/directives/dayWeather.js"></script>
<script src="js/directives/month.js"></script>

<!-- services -->
<script src="js/services/forecast.js"></script>
<script src="js/services/locator.js"></script>

</html>