<main>
<header>
<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Calendar</span>
      </h3>
    </div>
</md-toolbar>
</header>

<section>
    <div layout="row">
      <md-button ng-click="prevYear()" class="md-raised"><b>&lt;</b></md-button>
      <h3>{{ year }}</h3>
      <md-button ng-click="nextYear()" class="md-raised"><b>&gt;</b></md-button>
    </div>
    <div layout="row" layout-md="column" layout-wrap>
    <div ng-repeat="i in months" flex="25">
      <month number="i" year="year"></month>
    </div>
    </div>
</section>

</main>