<div layout="column" layout-fill layout-padding>
<header>
<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Introduction</span>
      </h3>
    </div>
</md-toolbar>
</header>
<main>
<md-content class="homeContent">
<p class="md-body-2">This website represents my own work in angular as I learn more about the framework. Because it's just a learning experience and I'm not able to pay
for any extra service (storage, server, database, etc.) All these examples will be only client-side working examples and therefore will not keep any 
information created in the session, but it will probably use some third-party services that are provided for free (request limits may apply).</p>
<p class="md-body-2">It will also provide a live example of a real angular app, and therefore a good example for others to learn from. All the code created is publish
as free software and it's available in the following bitbucket git repo:</p>
<p class="md-body-2"><a target="_blank" href="https://bitbucket.org/fraochan/angularexamples/src">BitBucket git repo for angular examples by Francisco Martín</a></p>
<p class="md-body-2">
  The Examples provided are (and still growing...):
  <ul>
    <li>
      <md-button md-no-ink class="md-raised" href="#/weather">Weather App</md-button>: A service that provides weather forecast
    </li>
    <li>
       <md-button md-no-ink class="md-raised" href="#/calendar">Calendar App (On development...)</md-button>: A calendar service that prints current calendar and adds the chance to add appointments
    </li>
    <li>
      (...)
    </li>
  </ul>
</p>
<p class="md-body-2">All this site has been developed in <a target="_blank" href="http://www.c9.io">Cloud9</a>, and uses the free deploy service of 
<a target="_blank" href="http://www.5apps.com">5apps</a></p>
<footer>
<p class="md-body-2">2015 Developed by Francisco Martín. You are free to use any material or code included for this project.</p>
</footer>
</md-content>  
</section></main>
</div>