
<div layout="row" layout-fill>
<div flex>
<md-content class="md-padding">
<md-autocomplete flex md-no-cache="true" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)"
	md-item-text="item.display" md-min-length="3" md-selected-item-change="ctrl.selectedItemChange(item)"
	md-floating-label="Weather Forecast. Write Something">
<md-item-template>
  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
</md-item-template>
<md-not-found>
  No matches found for "{{ctrl.searchText}}".
</md-not-found>
</md-autocomplete>
</md-content>


</div>

</div>

<div layout="column" layout-align="space-around center">
    <div ng-show="buscando"><md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular></div>

<div ng-show="btnShow">
	<md-content layout-padding class="md-display-3" layout="row" layout-align="space-between center">
		<div>
			{{ forecast.name ? forecast.name + ',' : "" }} {{ forecast.country }}
		</div>
		<div>
			<md-button class="md-fab md-primary" ng-click="toggleUnits()">&ordm;F / &ordm;C</md-button>
		</div>
	</md-content>
	
			<div layout="row" layout-md="column" layout-wrap>
	
		<div flex="20" ng-repeat="daycast in forecast.list">
				<day-weather data="daycast"></day-weather>
		</div>
	
			</div>
</div>
</div>