
<div class="weatherCard">
<div layout="column" layout="center end" layout-padding>
    <md-whiteframe class="md-whiteframe-z3 {{ data.diaActual }}" layout-padding>
        <div id="date" class="md-title">{{ data.dt | date : 'dd/MM/yyyy EEE' }}</div>
        <br/>
        <div ng-repeat="weather in data.weather">
        	<div class="imgCenter"><img ng-src="img/{{ data.img }}.png" /></div>
        	<div id="descripcion">Desc: {{ weather.description }}</div>
        </div>
        <br/>
        <div>
            <div id="temp_min">Min. Temp.: {{ data.main.temp_min }} &ordm;{{ data.units }}</div>
            <div id="temp_max">Max. Temp.: {{ data.main.temp_max }} &ordm;{{ data.units }}</div>
        </div>
    </md-whiteframe>
</div>
</div>