
<div class="monthName">{{ getMonthName(number) }}</div>
<div class="calendarMonth" layout-sm="row" layout="row" layout-wrap>
    <div flex="14" class="calendarDay">M</div>
    <div flex="14" class="calendarDay">T</div>
    <div flex="14" class="calendarDay">W</div>
    <div flex="14" class="calendarDay">Th</div>
    <div flex="14" class="calendarDay">F</div>
    <div flex="14" class="calendarDay">S</div>
    <div flex="14">Sn</div>
</div>
<div class="calendarMonth" layout-xs="column" layout="row" layout-wrap>
<div ng-repeat="i in initialDays">
    <div flex="14" class="calendarDay">
        &nbsp;
    </div>
</div>
<div ng-repeat="i in daysArray">
    <div flex="14" class="calendarDay">
        {{ i }}
    </div>
</div>
</div>